{% include 'header.html' %}  <!-- Including header -->


    <div id="main-about">
      <div class="image-about"> 
      </div>
        <div class="container-about">
            <h6 class="title">About us</h6>
            <article id="article-about">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptas optio hic perferendis minus ex, doloribus officia ab 
                facilis iusto saepe est vitae ratione repudiandae cum, architecto 
                unde enim sed fuga?
            </article>
        </div>
        
    </div>
  </section>

  {% include 'footer.html' %}  <!-- Including footer -->