{% include 'header.html' %}  <!-- Including header -->

  <div>
    <ul>
      <li>Access to all equipments</li>
      <li>Access to all classes</li>
      <li>Access to our swimming pool</li>
      <li>Acces to sauna and jaccuzi</li>
      <li>Personnal coaching 7x per week</li>
      <li>Personnal meal and training plan</li>
      <li>Free bag, wrist straps, and belt</li>
  </ul>
  </div>
  <div class="pricing-layout">
        <!-- Column 1-->
        <div class="pricing-column">
            <h2>Day Pass</h2>
            <div class="pricing-column-content">
                
                <ul>
                    <li>Access to all equipments</li>
                    <li>Access to all classes</li>
                </ul>
            </div>
            <button class="pricing-btn" type="submit">Choose</button>
        </div>

        <!-- Column 2-->
        <div class="pricing-column">
            <h2>Monthly Plan</h2>
            <div class="pricing-column-content">
                <ul>
                    <li>Access to all equipments</li>
                    <li>Access to all classes</li>
                    <li>Access to our swimming pool</li>
                    <li>Acces to sauna and jaccuzi</li>
                    <li>Personnal coaching 3x per week</li>
                </ul>
            </div>
            <button class="pricing-btn" type="submit">Choose</button>
        </div>

        <!-- Column 2-->
        <div class="pricing-column">
            <h2>Yearly Plan</h2>
            <div class="pricing-column-content">
                <ul>
                    <li>Access to all equipments</li>
                    <li>Access to all classes</li>
                    <li>Access to our swimming pool</li>
                    <li>Acces to sauna and jaccuzi</li>
                    <li>Personnal coaching 7x per week</li>
                    <li>Personnal meal and training plan</li>
                    <li>Free bag, wrist straps, and belt</li>
                </ul>
            </div>
            <button class="pricing-btn" type="submit">Choose</button>
        </div>

    </div>
    
  </section>

  {% include 'footer.html' %}  <!-- Including footer -->
